extends layout

block content
  // h1= title
  // p Welcome to #{title}
  // p Hello World!
  #container
    #heatMapArea

  script(type='text/javascript', src='/lib/heatmap.js')
  script(type='text/javascript')
    window.onload = function(){
      // console.log('element', document.getElementById('heatMapArea'));
      // console.log('style', document.getElementById('heatMapArea'))
      var xx = h337.create({"element":document.getElementById("heatMapArea"), "radius":15, "visible":true});
      xx.store.generateRandomDataSet(400);
      /*
      var test = { max: 90, data: [
        {x: 100, y: 100, count: 80},
        {x: 120, y: 120, count: 60},
        {x: 100, y: 80, count: 90},
        {x: 111, y: 110, count: 60},
        {x: 201, y: 150, count: 90},
        {x: 311, y: 110, count: 60},
        {x: 121, y: 510, count: 70},
        {x: 511, y: 110, count: 60},
        {x: 211, y: 110, count: 50},
        {x: 191, y: 110, count: 20},
        {x: 511, y: 110, count: 40}
        ]};
      xx.store.setDataSet(test);
      */
    };