body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
#heatMapArea {
  background-image: url("../images/parish_overhead.jpg");
  position: relative;
  float: left;
  width: 782px;
  height: 782px;
  border: 1px dashed #000;
}
